@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/*ESTILOS GERAIS*/
section,
section .centralizador {
	min-height: 100vh;
}

body {
	margin: 0;
	font-family: "Source Code Pro";
	padding-top: 40px;
}

.container{
	width: 1140px;
	margin: 0 auto;
}
.linha{
	display: flex;
}
	.linha.espaco-entre{
		justify-content: space-between;
	}
	.linha.alinhar-vertical{
		align-items: center;
	}
img.logo{
	width: 350px;
}

ul.linha{
	position: relative;
}

h3{
	display: flex;
	align-items: center;
	color: #7c7d7d;
	font-size: 30px;
}


h1:first-child{
	margin-top: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
*{
	color: #777474;
	box-sizing: border-box;
	font-size: 
}
.centralizador{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.botao{
	font-size: 25px;
    font-weight: bold;
    padding: 7px;
    background: white;
    border: none;
    margin: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.botao .fa{
	margin-left: 5px;
}
.botao .fa:only-child{
	margin-left: 0px;
}
	.botao-body{
		background: re;
		border-radius: 5px;
		border-color: 1px solid #e7635d;
		margin: 10px;
	}

a.botao.body{
	font-size: 50px;
	font-weight: bold;
	background-color: #e7635d;
	border-radius: 8px;
	color: #f4f4f4;
}


body section,
body main{
	padding-top: 20px;
}
/*FIM ESTILOS GERAIS*/

/*CABEÇALHO*/
#cabecalho{
	width: 100%;
	background-color: #e7635d;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 50;
	transform: translateZ(1);
}

.logo {
	flex-grow: 1;
}

#cabecalho a{
	color: black;
	font-size: 20px;
}

#navegacao-primaria ul li a:hover{
	color: #333;
}


#cabecalho .container{
	height: 60px;
}

#cabecalho .fa, #navegacao-midias-sociais-rodape .fa{
	color: black;
}

.menu-horizontal ul{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}
.menu-horizontal a{
	padding: 0 10px ;
}
.botao.menu-hamburguer{
	background: none;
	display: none;
}

#navegacao-midias-sociais{
	position: relative;
}
/*FIM CABEÇALHO*/

/*BANNER*/
#banner{
	background-image: url(../img/banner1.png);
	background-size: cover;
	padding-top: 0px;
}
#banner .container{
	height: 100vh;
}

#slogan *{
	color: #d82820;
}
#slogan h1{	
	overflow: hidden;
    text-indent: -999999999999px;
}
#slogan h2{
	text-align: center;
	font-size:70px;
}
/*FIM BANNER*/

/*MISSÃO*/
#missao{
	background-color: #e7635d;
	background-size: cover;
	padding-top: 0px;
}
#missao .container{
	height: 100vh;
}

#missao p{
	color: #fff;
	font-size: 55px;	
}
#conteudo p{
	text-align: center;
}
/*FIM MISSÃO*/

/*CONTEXTO*/

#contexto h2{
	color: #e7635d;
	font-size: 40px;
	padding-left: 85px;
}

#form-contexto.linha {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group{
	position: relative;
	margin-top: 10px;
}

input.nome, input.email{
	position: absolute;
	right: 0;
	max-width: 163px;
	border-radius: 5px;
}

textarea {
   resize: none;
   border-radius: 5px;
}

.submit-contexto {
	margin-left: auto;
    display: block;
    color: white;
    background-color: #b9b2b2;
    border: 0;
    padding: 6px 30px;
    font-weight: 900;
    margin-top: 10px;
    border-radius: 2px;
}

#contexto{
	background-image: url(../img/banner3.jpg);
	background-size: cover;
	padding-top: 0px;
}
#contexto .container{
	height: 100vh;
}
/*FIM CONTEXTO*/

/*HIPOTESE*/
#hipotese{
	background-color: #e7635d;
	background-size: cover;
	padding-top: 0px;
}
#hipotese .container{
	height: 75vh;
}

#hipotese p{
	color: #fff;
	font-size: 55px;	
}
#hipotese p{
	text-align: center;
}
/*FIM HIPOTESE*/

/*TERMOMETRO*/

#termometro .conteudo li img {
	justify-content: center;
}

/*FIM TERMOMETRO*/

/*RODAPÉ*/
footer#rodape{
	width: 100%;
	background-color: #e7635d;
}

ul.rodape-links li a {
	color: black;
	padding: 15px;
}

ul.rodape-links li a:hover {
	color: #333;
}


    #navegacao-midias-sociais-rodape{
    	display: none;
    }

/*FIM RODAPÉ*/


/*TABLET*/
@media (max-width: 1140px){
	.container{
		width: 70%;
	}
	.botao.menu-hamburguer{
		display: block;
	}
	.colaboradoras{
		flex-wrap: wrap;
		justify-content: center;
	}
	.perfil{
		width: 50%;
	}

	#cabecalho .container{
		position: relative;
	}

	#navegacao-primaria{
		display: none;
		position: absolute;
		top: 60px;
		left: 0px;
		width: 100%;	
	}

	#navegacao-midias-sociais-topo{
		display: none;
	}


	#navegacao-primaria ul{
		flex-direction: column;
	}

	#navegacao-primaria a{
		display: block;
		padding: 20px 0px;
		padding-left: 20px;
		background: white;
		color: #282828;
	}

	#navegacao-primaria ul li a:hover{
    	color: red;
    }	


	#navegacao-primaria.visivel{
		display: block;
	}

	.parceiros{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
    }

    .rodape-links li a {
    	display: none;
    }

    #navegacao-midias-sociais-rodape{
    	display: block;
    	text-align: center;
    }
}
/*FIM TABLET*/

/*SMARTPHONE*/
@media (max-width: 480px){
	.container{
		width: 100%;
	}
	.colaboradoras .perfil{
		width: 100%;
	}
	#slogan {
		width: 80%;
	}
	#slogan h2{
		font-size: 1.8em;
		width: 100%;
		text-align: center;
	}

	h3{
		font-size: 1.8em;
		width: 100%;
		text-align: center;
	}

	button.botao.body{
    font-size: 1.5em;
	}
	.parceiros ul {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    width: 100%;
	    justify-content: center;
	}
	.parceiros ul img {
	    height: auto;
    	width: 100%;
	}

}
/*FIM SMARTPHONE*/
